In [7]:
import mysql.connector

# Establish connection to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",  # Change if needed
    password="new@#1807",  # Your MySQL password
    database="isha"
)

cursor = conn.cursor(buffered=True)

# Ensure the table exists
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Students (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        age INT,
        course VARCHAR(50) NOT NULL
    )
""")
conn.commit()


def reconnect():
    """Reconnect to MySQL if the connection is lost."""
    global conn, cursor
    if not conn.is_connected():
        conn.reconnect()
        cursor = conn.cursor(buffered=True)


def add_student():
    """Add a new student record."""
    reconnect()
    name = input("Enter student name: ")
    age = input("Enter age: ")
    course = input("Enter course: ")

    cursor.execute("INSERT INTO students (name, age, course) VALUES (%s, %s, %s)", (name, age, course))
    conn.commit()
    print(" Student added successfully!")

def search_each():
    """Search for a single student by ID"""
    reconnect()
    student_id = input("Enter the student ID: ")

    cursor.execute("SELECT * FROM students WHERE id=%s", (student_id,))  # ✅ Correct tuple format
    student = cursor.fetchone()  # Fetch a single result

    if student:
        print("\n Student Found:")
        print(f"ID: {student[0]}, Name: {student[1]}, Age: {student[2]}, Course: {student[3]}")
    else:
        print("\n No student found with this ID.")


def view_students():
    """View all student records."""
    reconnect()
    cursor.execute("SELECT * FROM students")
    students = cursor.fetchall()

    print("\n Student Records:")
    for student in students:
        print(student)


def update_student():
    """Update student details."""
    reconnect()
    student_id = input("Enter student ID to update: ")
    new_name = input("Enter new name: ")
    new_age = input("Enter new age: ")
    new_course = input("Enter new course: ")

    cursor.execute("UPDATE students SET name=%s, age=%s, course=%s WHERE id=%s",
                   (new_name, new_age, new_course, student_id))
    conn.commit()
    print(" Student updated successfully!")


def delete_student():
    """Delete a student record."""
    reconnect()
    student_id = input("Enter student ID to delete: ")
    cursor.execute("DELETE FROM students WHERE id=%s", (student_id,))
    conn.commit()
    print(" Student deleted successfully!")


# Main menu loop
while True:
    print("\n Student Database Management System")
    print("1️ Add Student")
    print("2️ View Students")
    print("3️ Update Student")
    print("4️ Delete Student")
    print("5 View Student")
    print("6 Exit")
    
    choice = input("Enter your choice: ")

    if choice == "1":
        add_student()
    elif choice == "2":
        view_students()
    elif choice == "3":
        update_student()
    elif choice == "4":
        delete_student()
    elif choice == "5":
        search_each()
    elif choice == "6":
        print(" Exiting program. Goodbye!")
        break
    else:
        print("Invalid choice. Please try again.")

# Close connection when exiting
cursor.close()
conn.close()

 Student Database Management System
1️ Add Student
2️ View Students
3️ Update Student
4️ Delete Student
5 View Student
6 Exit

Enter your choice:  5
Enter the student ID:  18

 Student Found:
ID: 18, Name: Alice, Age: 24, Course: Math

 Student Database Management System
1️ Add Student
2️ View Students
3️ Update Student
4️ Delete Student
5 View Student
6 Exit

Enter your choice:  2

 Student Records:
(1, 'Alice', 21, 'Math')
(2, 'Alice', 21, 'Math')
(3, 'Alice', 21, 'Math')
(4, 'Alice', 21, 'Math')
(5, 'Alice', 21, 'Math')
(6, 'Alice', 21, 'Math')
(7, 'Alice', 21, 'Math')
(8, 'Alice', 21, 'Math')
(9, 'Alice', 21, 'Math')
(10, 'Alice', 21, 'Math')
(11, 'Alice', 21, 'Math')
(12, 'Alice', 22, 'hindi')
(13, 'Alice', 21, 'english')
(14, 'Alice', 24, 'Math')
(15, 'Alice', 21, 'Math')
(16, 'Alice', 22, 'hindi')
(17, 'Alice', 21, 'english')
(18, 'Alice', 24, 'Math')
(19, 'Alice', 21, 'Math')
(20, 'Alice', 22, 'hindi')
(21, 'Alice', 21, 'english')
(22, 'Alice', 24, 'Math')
(24, 'Alice', 22, 'hindi')
(25, 'Alice', 21, 'english')
(26, 'Alice', 24, 'Math')
(27, 'Alice', 21, 'Math')
(28, 'Alice', 22, 'hindi')
(29, 'Alice', 21, 'english')
(30, 'Alice', 24, 'Math')
(31, 'Alice', 21, 'Math')
(32, 'Alice', 22, 'hindi')
(33, 'Alice', 21, 'english')
(34, 'Alice', 24, 'Math')
(35, 'Alice', 21, 'Math')
(36, 'Alice', 22, 'hindi')
(37, 'Alice', 21, 'english')
(38, 'Alice', 24, 'Math')

 Student Database Management System
1️ Add Student
2️ View Students
3️ Update Student
4️ Delete Student
5 View Student
6 Exit

Enter your choice:  2

 Student Records:
(1, 'Alice', 21, 'Math')
(2, 'Alice', 21, 'Math')
(3, 'Alice', 21, 'Math')
(4, 'Alice', 21, 'Math')
(5, 'Alice', 21, 'Math')
(6, 'Alice', 21, 'Math')
(7, 'Alice', 21, 'Math')
(8, 'Alice', 21, 'Math')
(9, 'Alice', 21, 'Math')
(10, 'Alice', 21, 'Math')
(11, 'Alice', 21, 'Math')
(12, 'Alice', 22, 'hindi')
(13, 'Alice', 21, 'english')
(14, 'Alice', 24, 'Math')
(15, 'Alice', 21, 'Math')
(16, 'Alice', 22, 'hindi')
(17, 'Alice', 21, 'english')
(18, 'Alice', 24, 'Math')
(19, 'Alice', 21, 'Math')
(20, 'Alice', 22, 'hindi')
(21, 'Alice', 21, 'english')
(22, 'Alice', 24, 'Math')
(24, 'Alice', 22, 'hindi')
(25, 'Alice', 21, 'english')
(26, 'Alice', 24, 'Math')
(27, 'Alice', 21, 'Math')
(28, 'Alice', 22, 'hindi')
(29, 'Alice', 21, 'english')
(30, 'Alice', 24, 'Math')
(31, 'Alice', 21, 'Math')
(32, 'Alice', 22, 'hindi')
(33, 'Alice', 21, 'english')
(34, 'Alice', 24, 'Math')
(35, 'Alice', 21, 'Math')
(36, 'Alice', 22, 'hindi')
(37, 'Alice', 21, 'english')
(38, 'Alice', 24, 'Math')

 Student Database Management System
1️ Add Student
2️ View Students
3️ Update Student
4️ Delete Student
5 View Student
6 Exit

Enter your choice:  6

 Exiting program. Goodbye!